<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Campian Public School</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="/addStudent" routerLinkActive="active">Add Student</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/viewStudent" routerLinkActive="active">View Student</a></li>
		</ul>
    </div>
</nav>
<br/>
<router-outlet></router-outlet>

