
<div class="container">
	<h2>Student Information</h2>
	<form [formGroup]="userForm" (ngSubmit)="addStudent()" class="form-horizontal">
		<div class="form-group" >
			<label class="control-label col-xs-2">Student Name:</label>
			<div class="col-xs-10">
				<input type="text" class="form-control" formControlName="stdName">	
			</div>		
		</div>
		<div class="form-group" >
			<label class="control-label col-xs-2">Father's Name:</label>
			<div class="col-xs-10">
				<input type="text" class="form-control" formControlName="fatherName">
			</div>
		</div>
		<div class="form-group" >
			<label class="control-label col-xs-2">Mother's Name:</label>
			<div class="col-xs-10">
				<input type="text" class="form-control" formControlName="motherName">
			</div>
		</div>
		<div formGroupName="address">
			<div class="form-group" >
				<label class="control-label col-xs-2">Residence Address:</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" formControlName="resiAddress">
				</div>
			</div>
			<div class="form-group" >
				<label class="control-label col-xs-2">City:</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" formControlName="city">
				</div>
			</div>
			<div class="form-group" >
				<label class="control-label col-xs-2">Village:</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" formControlName="village">	
				</div>			
			</div>
		</div>		
		<div class="form-group">
        	<div class="col-xs-offset-2 col-xs-10">	
        		<div *ngIf="!updateStudentFlag">
					<button  type="submit" [disabled]="!userForm.valid" class="btn btn-primary">Save Student Detail</button>
				</div>
				<div *ngIf="updateStudentFlag">
					<button  type="button" [disabled]="!userForm.valid"  (click)="updateStudentDetail()" class="btn btn-primary">Update Student Detail</button>
				</div>	
			</div>
    	</div>
	</form>
</div>






